<h1>Editing page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :name %>
  <%= f.text_area :body %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>