<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Embassy of the Internets</title>
    <%= stylesheet_link_tag "application" %>
    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
    <script type="text/javascript">
      function about() {
        if (Element.empty('about-content')) {
          new Ajax.Updater('about-content', 'rails/info/properties', {
            method:     'get',
            onFailure:  function() {Element.classNames('about-content').add('failure')},
            onComplete: function() {new Effect.BlindDown('about-content', {duration: 0.25})}
          });
        } else {
          new Effect[Element.visible('about-content') ? 
            'BlindUp' : 'BlindDown']('about-content', {duration: 0.25});
        }
      }
      
      window.onload = function() {
        $('search-text').value = '';
        $('search').onsubmit = function() {
          $('search-text').value = 'site:rubyonrails.org ' + $F('search-text');
        }
      }
    </script>
  </head>
  <body>
    <div id="page">      
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <form id="search" action="http://www.google.com/search" method="get">
              <input type="hidden" name="hl" value="en" />
              
              <input type="text" id="search-text" name="q" value="" />
              <input type="submit" value="Search" />
            </form>
          </li>
        
          <li>
            <h3>Start</h3>
            <ul class="links">
              <li><%= link_to "start", :action => :start %></li>
              <li><a href="<%= url_for :action => :tutorial -%>">Tutorial</a></li>
              <li><%= link_to "trash", :action => :trash %></li>
            </ul>
          </li>
            
          <li>
            <h3>Documentation</h3>
            <ul class="links">
              <li><a href="http://gp2xwiz.co.uk/wiki/">Wiz Wiki</a></li>
              <li><a href="http://www.rubyonrails.org/">Ruby on Rails</a></li>
              <li><a href="http://www.ruby-lang.org/">Ruby Language</a></li>
              <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
            </ul>
          </li>
            
          <li>
            <h3>Collaborate</h3>
            <ul class="links">
              <li><a href="/communication">Community</a></li>
              <li><a href="/wiki">Wiki</a></li>
            </ul>
          </li>
          
          
        </ul>
      </div>

      <div id="content">
        <%= yield %>
      </div>
      
      
      <div id="footer">&nbsp;               <li><a href="http://geeq.at/">oneup</a></li></div>
    </div>
  </body>
</html>